<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:locale" content="vi_VN">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index,follow" />
    <link rel="alternate" hreflang="x-default" href="https://washup.vn">
    <link rel="alternate" hreflang="vi" href="https://washup.vn">
    <meta name="revisit" content="1 days">

    <link rel="shortcut icon" href="//theme.hstatic.net/1000360109/1000458388/14/favicon.png?v=373" type="image/png" />

    <title>
        Chăm sóc xe và phụ kiện chính hiệu Wash-Up
    </title>

    <meta name="description" content="Chuỗi chăm s&#243;c xe, phụ kiện, rửa xe &#244; t&#244;, xe m&#225;y">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Chăm sóc xe và phụ kiện chính hiệu Wash-Up">
    <meta property="og:description" content="Chuỗi chăm sóc xe, phụ kiện, rửa xe ô tô, xe máy">
    <meta property="og:image" content="http://theme.hstatic.net/1000360109/1000458388/14/share_fb_home.png?v=373" />
    <meta property="og:image:secure_url"
        content="https://theme.hstatic.net/1000360109/1000458388/14/share_fb_home.png?v=373" />
    <meta property="og:url" content="https://washup.vn/">
    <meta property="og:site_name" content="Chăm sóc xe và phụ kiện chính hiệu Wash-Up">
    <meta name="twitter:site" content="@#">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Chăm sóc xe và phụ kiện chính hiệu Wash-Up">
    <meta name="twitter:description" content="Chuỗi chăm s&#243;c xe, phụ kiện, rửa xe &#244; t&#244;, xe m&#225;y">
    <meta name="theme-color" content="#f7901e">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFV68TCVZD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BFV68TCVZD');
    </script>
</head>

<body>
    <div id="washupclient">

    </div>
</body>

</html>