
*:focus {
    outline: 0 !important;
}

.m-btn-prev {
    line-height: 25px;
    padding: 6px 15px !important;
    margin-right: 30px;
    color: #333 !important;
}


.btn-search {
    padding-left: 45px !important;
    cursor: pointer;
}

.btn-search:hover {opacity:0.8}

.btn-success2 {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.btn-success2:hover {
    opacity:0.8
}

.two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.confirm-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

#site-nq .img {
    height: 250px;
}
@media (min-width: 992px) {
    #site-nq .img {
        height: 430px !important;
    }
}

#membership_slider .item {
    border-radius: 20px;
}

#membership_slider .item  img {
    border-radius: 18px;
}


#site-service .top_services .search input {
    text-indent: 10px !important;
}

@media only screen and (max-width: 600px) {
    .m-main-tile .pc {
        display: none !important;
    }
    .m-main-tile .mobile  {
        display: block !important;
    }
}

#product_slider .item .price, #product_list .item .price {
    margin-bottom: 15px !important;
}

.price  {
    font-style: normal;
}

.close-modal {
    color: black;
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 20px;
    cursor: pointer;
}

#site-footer {
    background: #fff;
    padding: 35px 0;
    border-top: #ff6c00 3px solid;
}