
*:focus {
    outline: 0 !important;
}

.scrollbar {
    float: none !important;
}

.modal-open {
    overflow: hidden !important;
}

.m-btn-prev {
    line-height: 25px;
    padding: 6px 15px !important;
    margin-right: 30px;
    color: #333 !important;
}


.btn-search {
    padding-left: 45px !important;
    cursor: pointer;
}

.btn-search:hover {opacity:0.8}


.btn-success2:hover {
    opacity:0.8
}

.two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.confirm-title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

#site-nq .img {
    height: 250px;
}
@media (min-width: 992px) {
    #site-nq .img {
        height: 430px !important;
    }
}

#membership_slider .item {
    border-radius: 20px;
}

#membership_slider .item  img {
    border-radius: 18px;
}


#site-service .top_services .search input {
    text-indent: 10px !important;
}

@media only screen and (max-width: 720px) {
    #main-menu {
        clear: both;
        -moz-transition: height .5s;
        -ms-transition: height .5s;
        -o-transition: height .5s;
        -webkit-transition: height .5s;
        transition: height .5s;
        height: 0;
        overflow: hidden;
        min-height: auto !important
    }
    .sys-store {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    .container {
        padding: 0 !important;
    }
    .m-main-tile .pc {
        display: none !important;
    }
    .m-main-tile .mobile  {
        display: block !important;
    }

    .btn_view_more_servie {
        display: none !important;
    }
    
    .membership {
        margin: 0px;
    }

    .membership .text-left .price_old {
        display: none;
    }

    #site-news .ls_news .item {
        margin: 15px;
    }
    .service_content .service {
        height: 40px;
    }

    .service_content .service .box_right {
        height: auto;
    }
    .service_content .service .box_right .info {
        width: 65%;
        line-height: 38px;
        padding-left: 10px !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
    }

    .colo {
        margin: 10px 0px;
    }
    
    .service_content .service .box_right .price {
        font-size: 20px;
    }
    .service_content .service .box_right img {
        display: none;
    }

    .service_content.scrollbar {
        max-height: 200px;
    }

    .service_content .force-overflow {
        min-height: auto;
    }

    .service_content .service .box_right .name {
        text-shadow: none;
        font-size: 11px;
        letter-spacing: normal;
        font-weight: normal;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .chonnhot {
        line-height: 38px !important;
        padding-right: 5px !important;
    }

    .force-overflow .service .container input {
        margin-left: 18px;
        margin-top: 12px;
    }

    .booking_final .title {
        width: 30%;
    }

    .booking_final .info {
        width: 100%;
    }

    .booking_final .info .address {
        width: 65%;
        text-align: right;
    }

    .booking_final .info .text {
        width: 65%;
        text-align: right;
    }

    .booking_final .fa {
        position: absolute;
        top: 8px;
        left: 0;
    }

    .booking_final .form-group {
        padding: 12px 0;
        margin-bottom: 0 !important;
        position: relative;
        padding-left: 40px;
    }
    .confirm-title {
        margin: 0 !important;
        padding: 20px;
        font-size: 18px;
    }
}

/* .membership .owl-stage-outer {
    height: 250px !important;
} */

@media only screen and (min-width: 600px) {
    .serives_list  {
        display: flex;
    }
    .serives_list .col {
        position: relative;
        flex: 1;
    }
    .serives_list .col button {
        position: absolute;
        bottom: 0;
        left: 0px;
        margin-left: 15px;
        width: calc(100% - 30px);;
    }

    .serives_list .col .form-group {
        margin-bottom: 60px;
    }

    .booking_final .title {
        width: 30%;
        font-size: 17px;
    }

    .booking_final .text {
        float: right;
        width: 65%;
        text-align: right;
    }

    .booking_final .clearfix {
        display: flex;
    }

    .booking_final .clearfix .form-group {
        flex: 1;
    }

    .booking_final .clearfix .col-right{
        padding-right: 20px;
    }


    .booking_final .clearfix .pull-left{
        padding-left: 38px;
    }


    #ModalBooking .form-group {
        position: relative;
    }
    .booking_final .info {
        padding-left: 38px;
        width: 100%;
    }
    .booking_final .fa {
        position: absolute;
        top: 4px;
    }

    .m-final .main-title {
        padding: 34px !important;
    }
     .m-final .main-title h3 {
        margin: 0 !important;
        padding: 0 !important;
    }
}

#product_slider .item .price, #product_list .item .price {
    margin-bottom: 15px !important;
}

.price  {
    font-style: normal;
}

.close-modal {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 17px;
    cursor: pointer;
}

#site-footer {
    background: #fff;
    padding: 35px 0;
    border-top: #ff6c00 3px solid;
}

#site-activy {
    height: 555px;
    overflow: hidden;
    background: url('../images/bg_blue.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 25px;
}

#site-activy .title  {
    margin: 20px 0px;
    color: #fff;
}

#site-activy .panel_header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-control {
    height: 38px !important;
} 

/* .tr__value-container {
    position: initial !important;
}

.tr__indicators  {
    height: 34px !important;
} */

.main-title h3.title {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.login-box {
    padding: 30px;
}

.login-box .txt {
    font-size: 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.booking-list-modal .active {
    background-color: #d9d9d9;
}

.booking-list-modal table tr {
    cursor: pointer;
}

.booking-list-modal table tr:hover td{
    background-color: #d9d9d9;
}

#site-product {
    height: 520px !important;   
}

#product_list .owl-stage-outer {
    width: 100%;
}

#product_list .item img {
    height: 190px !important;
}

a {
    text-decoration: none !important;
}
.membership .box {
    padding: 20px 0px 10px 0px ;
}

.membership .box .owl-stage{
    padding-bottom: 10px ;
}

.red-req {
    color: red !important;
}

.error_msg_form_search_phone {
    padding: 10px;
    color: red;
    text-align: center;
}

.mg10 {
    margin-right: 20px;
}

.mg0 {
    margin: 0 !important;
}