@media only screen and (min-width: 1280px) {

}
@media only screen and (max-width: 1024px) {
	.hiden-mx {
		overflow: hidden;
	}

}
@media only screen and (max-width: 980px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 780px) {
}
@media only screen and (min-width: 768px) {
	#ModalBooking .btn-fefault, #ModalBookingNotify .btn-fefault {
		width: 190px !important;
	}

	#ModalBooking .btn-success, #ModalBookingNotify .btn-success, #confirmModal .btn-success {
		width: 190px !important;
	}
	.service_menu {
		text-align: right;
	}
	#site-service .panel_footer .space {
		bottom: -20px;
	}
	#site-service .top_services .search .hidden-xs {
		display: block !important;
	}

	.btn-prev-step1, .btn-prev-step2, .btn-prev-step3 {
		width: 190px;
		border: none;
		margin-right: 30px;
	}
	.btn-next-step1, .btn-next-step2, .btn-next-step3 {
		width: 190px;
	}
	.btn-next-step2 {
		margin-top: -5px;
	}
	.btn-prev {
		margin-right: 20px;
	}
	.back_home {
		margin-right: 20px;
	}
	.back_home, .step_back {
		min-width: 150px;
	}
}

@media only screen and (max-width: 768px) {
	#schedule_now {
		display: none;
	}

	.onl-mobile {
		display: block;
	}
}
@media only screen and (max-width: 768px)  {
	#ModalBooking .main-title {
		overflow: hidden; 
	}


	#site-banner {
		height: 387px;
		background: url('../images/banners/banner.jpg') no-repeat center;
		background-size: cover;
		background-size: 157%;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-toggle .fa{
		font-size: x-large;
	}
	.hidden-xs {
		display: none !important;
	}
	#topmenu {background:#1b3868}
	.navbar-toggle { 
		z-index: 999;
		margin-right: 5px;
		font-size: 18px;
		padding: 5px 10px;
		color:#ffe406;
	}
	#main-menu { clear:both; padding-left:15px;}
	.topnav, .topnav-right {float:none}
	.topnav a, .topnav-right a { float:none; display:block; text-align:left;}
	
	/* #site-banner {
		background:url('../images/banners/mobile-banner.png') no-repeat center;
		height:235px;    
		background-size: 110%;
		background-position: top;
	} */
	#site-service .top_services .search .input-search {padding:0;}
	#site-service .top_services .search .btn-search {right:0}
	/* #site-service .top_services .search_bottom {border-radius:0;} */
	
	.service_menu {margin: 0 -20px;}
	.service_menu li {float:left; }
	.service_menu li a {float:left; margin: 0 8px;}
	/* .serives_list .space {display:none} */
	
	.membership .title span {padding:0;}
	#membership_slider .item, #product_slider .item {display:block}
	#membership_slider .item img, #product_slider .item img {width:100%; height:100%; object-fit:cover} 
	#site-service .panel_footer .space {border-radius:0;}
	
	#site-nq .panel_body {margin:15px;}
	#site-nq .content {margin:20px; padding: 0 15px;}
	.copyright div {
		text-align: center;
	}
}
@media only screen and (max-width: 640px) {
	.serives_list .item .name_service {
		font-size: small;
	}
	#membership_slider .item .price_new {
		font-size: small;
	}
}
@media only screen and (max-width: 600px) {
	.serives_list .space {display:none}

	#ModalBooking .payment {
		font-size: inherit !important;
	}
	#ModalBooking .btn-fefault, #ModalBookingNotify .btn-fefault {
		margin-right: 30px;
	}
	#ModalBooking .note {
		font-size: inherit;
	}
	.booking_final .title {
		font-size: smaller;
	}

	.booking_final .info .text {
		font-size: smaller;
	}

	#ModalBooking .btn-success, #ModalBookingNotify .btn-success, #confirmModal .btn-success {
		font-size: medium !important;
		min-width: 130px;

	}

	#ModalBooking .btn-fefault, #ModalBookingNotify .btn-fefault {
		font-size: medium !important;
		min-width: 130px;
		border: 0;
		margin-right: 15px;
	}

	#site-banner {
		background:url('../images/banners/mobile-banner.png') no-repeat center;
		height:235px;    
		background-size: 110%;
		background-position: top;
	}

}
@media only screen and (max-width: 568px) {
}
@media only screen and (max-width: 563px) {
}
@media only screen and (max-width: 549px) {
	#site-banner {
		background: url('../images/banners/banner.jpg') no-repeat center;
		height: 260px;
		background-size: 123%;
		background-position: top;
	}
}
@media only screen and (max-width: 534px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 414px) {
	
}
@media only screen and (max-width: 411px) {
}
@media only screen and (max-width: 375px) {
	.booking_final .title {
		font-size: small;
	}

	.booking_final .info .text {
		font-size: small;
	}

	#ModalBooking .note {
		font-size: inherit !important;
	}
	#ModalBooking .payment {
		font-size: inherit !important;
	}
	#ModalBooking .btn-success, #ModalBookingNotify .btn-success, #confirmModal .btn-success {
		font-size: inherit !important;
		width: 130px;

	}

	#ModalBooking .btn-fefault, #ModalBookingNotify .btn-fefault {
		font-size: inherit !important;
		width: 130px;
		border: 0;
		margin-right: 15px;
	}
	#ModalBooking .btn-success i.fa {
		display: none;
	}
	.panel_header h3.title {
		font-size: large;
	}
	.service_menu li a {
		font-size: small;
	}
}
@media only screen and (max-width: 360px) {
	.panel_header h3.title {
		font-size: large;
	}
	.service_menu li a {
		font-size: small;
	}
}
@media only screen and (max-width: 338px) {
}
@media only screen and (max-width: 330px) {
}
@media only screen and (max-width: 320px) {
	#ModalBooking .note {
		font-size: inherit !important;
	}

	#ModalBooking .btn-success, #ModalBookingNotify .btn-success, #confirmModal .btn-success {
		font-size: inherit !important;
		width: 130px;

	}

	#ModalBooking .btn-fefault, #ModalBookingNotify .btn-fefault {
		font-size: inherit !important;
		width: 130px;
		border: 0;
		margin-right: 15px;
	}

	#site-service .top_services .search .btn-search {
		padding-left: 22px !important;
		width: 150px;
		position: absolute;
		right: -4px;
		top: -6px;
		z-index: 99;
		background: url('../images/btn-search.png') no-repeat center;
		text-align: center;
		line-height: 45px;
		background-size: 150px;
		color: #fff;
		font-weight: bold;
		font-size: small;
		padding-top: 0px;
		padding-bottom: 0px;
		text-shadow: 1px 1px #d87e19;

	}
	#site-service .top_services .search input {
		font-size: small;
		height: 35px !important;
	}
	.logo .topnav-centered a {
		text-align: center;
		height: inherit;
		width: inherit;
	}
	.logo .topnav-centered a img {
		width: 240px;
		max-width: inherit;
	}
	
}
