.notika-main-menu-dropdown .active {
    font-weight: 600;
}

.assignment-emp {
    margin-bottom: 30px;
}

.tr__control {
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-radius: 0px !important;
}

.contact-img img{
    width: 60px;
    height: 60px;
}

.invoice-sp table {
    position: relative;
}

.btn-edit-service {
    position: absolute;
    right: 0;
    top: 10px;
}

.table-overview tbody tr {
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .col-logo {
        display: none;
    }
    .container {
        width: auto !important;
    }

    .m_code{
        min-width: 100px;
    }
    .m_name{
        min-width: 200px;
    }
    .m_phone{
        min-width: 100px;
    }
    .m_bienso{
        min-width: 100px;
    }
    .m_schedule{
        min-width: 100px;
    }
    .m_price{
        min-width: 100px;
    }
    .m_status{
        min-width: 170px;
    }
    .m_created_time{
        min-width: 100px;
    }

    .m_address {
        min-width: 400px;
    }

    .modal-dialog.modal-large {
        width: auto !important;
    }

    .m_reason {
        min-width: 300px;
    }
    
}

.mgrg-10 {
    display: inline-block;
    margin-right: 10px;
}

.group-f {
    display: inline-block;
}

.swal2-modal {
    padding: 10px;
}

.status-select {
    margin-right: 20px;
    padding: 7px 20px;
    background-color: #faad14;
    border: 0px;
    border-radius: 4px;
    color: #fff;
}

.mbtn-login {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    margin-top: 30px !important;
}

.mbas {
    position: relative;
}

.mbtn-close {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 5px;
}

.breadcomb-report .btn i {
    margin-right: 5px;
}
.form-m {
    box-shadow: none;
    border-top: 0px solid #ccc;
    border-left: 0px solid #ccc;
    border-right: 0px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0px;
    resize: none;
    border-radius: 0px;
}

.content-form {
    padding: 0 30px;
}

.content-form .title {
    line-height: 34px;
    text-align: left;
}

.line34 {
    line-height: 34px;
}

.vehicle-i input{
    margin-right: 20px;
}

.content-form .row {
    padding: 10px 0px;
}
.mgTop30 {
    margin-top: 30px;
}

.text-right {
    text-align: right;
}

.mgright30 {
    margin-right: 30px;
}

.btn-primary {
    margin: 0 !important;
}